.colored-slider {
  --divider-width: 3px;
  --default-handle-color: rgba(212, 222, 245, 0.897);
  --divider-color: rgba(212, 222, 245, 0.897);
  --default-handle-shadow: 0px 0px 1px 3px rgba(37, 35, 35, 0.8);
}

.handle, #handle, .grab-handle, .default-handle {
  cursor: grab !important;
}

// 添加错误提示样式
.image-comparison-error {
  color: red;
  padding: 10px;
  border: 1px dashed red;
  background-color: rgba(255, 0, 0, 0.1);
  margin: 10px 0;
  text-align: center;
}